@using DA.Domain.Dtos
@using DA.Domain.Entities
@using DA.Domain.Entities.OldDatas
@using DA.Domain.Enums
@using DA.Models

@model OldPermissionsModel

<table class="table dataTable table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>İzin Id</th>
            <th>Personel Ad Soyad</th>
            <th>İzin Nedeni</th>
            <th>İzin Başlangıç</th>
            <th>İzin Bitiş</th>
            <th>Ad</th>
            <th>Toplam</th>
            <th>Vekil Id</th>
            <th>Onay</th>
            <th>Mazaret Mi?</th>
            <th>Mazaret Kodu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OldPermissions item in Model.Permissions)
        {
            <tr id="@item.Id.ToString()">
                <td>@item.Id</td>
                <td>@item.IzinId</td>
                <td>@(Model.Employees.Where(x => x.Personel_ID == item.Personel_ID).FirstOrDefault().AdSoyad)</td>
                <td>@item.IzinNedeni</td>
                <td>@item.IzinBaslangic?.ToString("dd/MM/yyyy")</td> <!-- Date formatted -->
                <td>@item.IzinBitis?.ToString("dd/MM/yyyy")</td> <!-- Date formatted -->
                <td>@(Model.Employees.Where(x => x.Personel_ID == item.Ad).FirstOrDefault().AdSoyad)</td>
                <td>@item.Toplam</td>
                <td>@(Model.Employees.Where(x => x.Personel_ID == item.VekID).FirstOrDefault().AdSoyad)</td>
                <td>@(item.Onay == true ? "Onaylandı" : "Reddedildi")</td> <!-- Boolean as text -->
                <td>@(item.MazaretMi == true ? "Evet" : "Hayır")</td> <!-- Boolean as text -->
                <td>@item.MazaretKodu</td>
            </tr>
        }
    </tbody>
</table>