@using DA.Domain.Dtos
@using DA.Controllers
@using DA.Controllers.MissionModule
@using DA.Domain.Dtos
@using DA.Domain.Enums
@using DA.Models

@model MissionsAndEmployees
@{
    Layout = "_Layout";
}

<script>

    $(document).ready(function () {
        var dateOfStart = '@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")';
        var dateOfEnd = '@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")';

        $('#DateOfStart').val(dateOfStart);
        $('#DateOfEnd').val(dateOfEnd);

        $("#Listing").click(function () {

            var dateOfStart = $('#DateOfStart').val();
            var dateOfEnd = $('#DateOfEnd').val();

            if (dateOfStart == null || dateOfStart == "") {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                return;
            }

            if (dateOfEnd == null || dateOfEnd == "") {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                return;
            }

            var startDate = new Date(dateOfStart);
            var endDate = new Date(dateOfEnd);

            if (endDate <= startDate) {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini doğru giriniz.");
                return;
            }


            $('#departureDateOfStart').val(dateOfStart);
            $('#departureDateOfEnd').val(dateOfEnd);

            $.ajax({
                type: "POST",
                url: "/" + "AllMissions/AllMissionsList",
                data: { startDate: dateOfStart, endDate: dateOfEnd },
                success: function (response) {
                    // Handle the response here
                    $('body').html(response); // Render the returned HTML
                }
            });
        });

        $("#ExportExcel").click(function () {
            var dateOfStart = $('#DateOfStart').val();
            var dateOfEnd = $('#DateOfEnd').val();

            if (dateOfStart == null || dateOfStart == "") {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                return;
            }

            if (dateOfEnd == null || dateOfEnd == "") {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                return;
            }

            var startDate = new Date(dateOfStart);
            var endDate = new Date(dateOfEnd);

            if (endDate <= startDate) {
                ShowErrorMessage("Lütfen başlama bitiş tarihlerini doğru giriniz.");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/" + "AllMissions/ExcelExport",
                data: { startDate: dateOfStart, endDate: dateOfEnd },
                success: function (response) {
                    eval(response);
                }
            });
        });

    });
</script>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tüm Departman Görevleri</h4>
        <hr />
        <div class="row mb-2">
            <div class="col-md-4 row">
                <label for="DateRangeFilter" class="col-sm-4 col-form-label pt-0 bold">Başlama Tarihi</label>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <input type="datetime-local" id="DateOfStart" class="form-control" style="width: 100%;" />
                </div>
            </div>
            <div class="col-4 row">
                <label for="DateRangeFilter" class="col-sm-4 col-form-label pt-0 bold">Bitiş Tarihi</label>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <input type="datetime-local" id="DateOfEnd" class="form-control" style="width: 100%;" />
                </div>
            </div>
            <div class="col-2">
                <button id="Listing" class="btn btn-primary mb-4">Listele</button>
            </div>
            <div class="col-2">
                <button id="ExportExcel" class="btn btn-success mb-4">Excel Çıktısı Al</button>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table dataTable table-striped table-hover">
                <thead>
                    <tr>
                        <th>Tipi</th>
                        <th>Çalışan</th>
                        <th>Departman</th>
                        <th>Türü</th>
                        <th>Konu</th>
                        <th>Yer</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Durumu</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Missions.Count != 0)
                    {
                        @foreach (MissionDto item in Model.Missions)
                        {
                            <tr id="@item.Id.ToString()">
                                <td>@MissionController.TypeTR(item.MissionType)</td>
                                <td>@item.Employee.Name @item.Employee.Surname</td>
                                <td>@item.Employee.Department.Name</td>
                                <td>@item.SubjectType.ToString()</td>
                                <td>@item.Subject</td>
                                <td>@item.Area</td>
                                <td>@item.DateOfStart.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>@item.DateOfEnd.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>@MissionController.StateTR(item.State)</td>
                                <td>
                                    <a onclick="AjaxMethod('Missions/OpenDetail', '@item.Id.ToString()', 'OpenDetail')" href=""><i class="mdi mdi-file text-info md20"></i></a>
                                    @if (item.State == EnumState.Accepted)
                                    {
                                        <a onclick="AjaxMethod('Missions/ExportDocument', '@item.Id.ToString()', 'Print')" href=""><i class="mdi mdi-printer text-warning md20"></i></a>
                                        <a class="btn btn-danger" onclick="AjaxMethod('AllMissions/Reject', '@item.Id.ToString()', 'RejectMission')" href="">Reddet</a>
                                    }
                                    else if (item.State == EnumState.Pending)
                                    {
                                        <a class="btn btn-success" onclick="AjaxMethod('AllMissions/Accept', '@item.Id.ToString()', 'AcceptMission')" href="">Kabul Et</a>
                                        <a class="btn btn-danger" onclick="AjaxMethod('AllMissions/Reject', '@item.Id.ToString()', 'RejectMission')" href="">Reddet</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_DetailModal")
