@using DA.Models
@model DepartmentAndEmployees
<!-- Modal Ekle-->
<div class="container">
    <div class="modal fade" id="ModalDepartment" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Birim Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Birimler/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="name" class="col-sm-2 col-form-label pt-0">Birim Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="Name" name="Name" class="form-control" maxlength="50" placeholder="Birim Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="IdEmployeeFK" class="col-sm-2 col-form-label pt-0">As Yönetici</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="IdEmployeeFK" name="IdEmployeeFK" class="form-control select2" style="width: 100%">
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id.ToString()">@item.Name @item.Surname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="IdBackupManager" class="col-sm-2 col-form-label pt-0">Yedek Yönetici<br />(Zorunlu Değildir.)</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="IdBackupManager" name="IdBackupManager" class="form-control select2" style="width: 100%">
                                    <option value="0">Yok</option>
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id.ToString()">@item.Name @item.Surname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2 fr">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Ekle-->
<div class="container">
    <div class="modal fade" id="ModalUpdateDepartment" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Title" class="font-weight-bold">Yeni Birim Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Birimler/Update">
                        <input type="hidden" id="Id" name="Id" />
                        <div class="row mb-2">
                            <label for="name" class="col-sm-2 col-form-label pt-0">Birim Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uName" name="Name" class="form-control" maxlength="50" placeholder="Birim Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uIdEmployeeFK" class="col-sm-2 col-form-label pt-0">As Yönetici</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="uIdEmployeeFK" name="IdEmployeeFK" class="form-control select2" style="width: 100%">
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id.ToString()">@item.Name @item.Surname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uIdBackupManager" class="col-sm-2 col-form-label pt-0">Yedek Yönetici<br />(Zorunlu Değildir.)</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="uIdBackupManager" name="IdBackupManager" class="form-control select2" style="width: 100%">
                                    <option value="0">Yok</option>
                                    @foreach (var item in Model.Employees.OrderBy(x => x.Name))
                                    {
                                        <option value="@item.Id.ToString()">@item.Name @item.Surname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2 fr">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>

