@using DA.Components.System
@using DA.Models
@model DashboardModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

    LoginSessionModel loginnedEmployee = SessionHelper.GetEmployeeLoggingIn(Context);

    string userName = "";
    string userRole = "";
    string userPhoto = "";
    string departmentHeadGid = loginnedEmployee.DepartmentHeadGid.ToString();

    if (loginnedEmployee != null)
    {
        userName = loginnedEmployee.UserName;
        userRole = loginnedEmployee.Role;
        userPhoto = loginnedEmployee.Photo;
    }
    else
    {
        Context.Response.Redirect("/");
    }
}

@section scripts
{
    <script>
        $(document).ready(function () {
            if ('@userRole' == "Admin" && '@departmentHeadGid' == '') {
                ShowErrorMessage("Rolünüz admin olarak işaretlenmiş fakat herhangi bir departmanın başkanı değilsiniz. Sistem Tüm Görevler ve Tüm İzinler sayfasına geçişinizi kısıtlayacaktır.");
            }
        });
        
        hidePreloader();
    </script>
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Hoş geldiniz @userName</h3>
            </div>
            <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                    <div class="bold">
                       @DateTime.Now.ToString("dd MMMM yyyy dddd")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
            @* <div class="col-md-4 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4 fs18">Kalan Ücretsiz İzin Gün Sayınız</p>
                        <p class="fs-30 mb-2">@Model.RemainingFreePermission</p>
                    </div>
                </div>
            </div> *@
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4 fs18">Kalan Yıllık İzin Gün Sayınız</p>
                        <p class="fs-30 mb-2">@Model.RemainingPaidPermission</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4 fs18">Kalan Denkleştirme İzin Gün Sayınız</p>
                        <p class="fs-30 mb-2">@Model.RemainingEqualizationPermission</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class=" col-md-12 card">
        <div class="card-body">
            <p class="card-title mb-3">Araç Durumu</p>
            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th>Araç Plakası</th>
                            <th>Günlük Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cars)
                        {
                            <tr>
                                <td>@item.Plate</td>
                                @if (item.State == "Available")
                                {
                                    <td class="font-weight-medium"><div class="badge badge-success fs15">Müsait</div></td>
                                }
                                else if (item.State == "Busy")
                                {
                                    <td class="font-weight-medium"><div class="badge badge-warning fs15">Meşgul</div></td>
                                }
                                else if (item.State == "Not Active")
                                {
                                    <td class="font-weight-medium"><div class="badge badge-danger fs15">Aktif Değil</div></td>
                                }
                                else
                                {
                                    <td class="font-weight-medium"><div class="badge badge-info fs15">Belirtilmemiş</div></td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
