@using DA.Domain.Dtos
@{
    Layout = "_Layout";
}
@using DA.Models
@model EmployeeCalendarModel

@section scripts {

    <script>
        hidePreloader();

        $('#OneMonthBefore').on('click', function () {

            var currentDate = $("#CurrentDate").val();

            // Split the date string by '.'
            var dateParts = currentDate.split('.');

            // Convert the month part to an integer and subtract 1
            var month = parseInt(dateParts[1], 10) - 1;

            // Handle the case where the month goes below 1
            if (month < 1) {
                month = 12;
                dateParts[2] = (parseInt(dateParts[2].split(' ')[0], 10) - 1) + " 00:00:00";
            }

            // Update the month part in the dateParts array
            dateParts[1] = month.toString().padStart(2, '0');

            // Join the date parts back into a string and update the hidden field
            var newDate = dateParts.join('.');
            dateParts[0] = '01';

            $("#CurrentDate").val(newDate);

            $.ajax({
                type: "POST",
                url: "/" + "EmployeeCalendar/Listing",
                data: { filter: newDate },
                success: function (response) {
                    // Handle the response here
                    $('body').html(response); // Render the returned HTML
                }
            });
        });

        $('#OneMonthLater').on('click', function () {

            var currentDate = $("#CurrentDate").val();

            // Split the date string by '.'
            var dateParts = currentDate.split('.');

            // Convert the month part to an integer and add 1
            var month = parseInt(dateParts[1], 10) + 1;

            // Handle the case where the month goes above 12
            if (month > 12) {
                month = 1;
                dateParts[2] = (parseInt(dateParts[2].split(' ')[0], 10) + 1) + " 00:00:00";
            }

            // Update the month part in the dateParts array
            dateParts[1] = month.toString().padStart(2, '0');
            dateParts[0] = '01';
            // Join the date parts back into a string and update the hidden field
            var newDate = dateParts.join('.');
            $("#CurrentDate").val(newDate);

            $.ajax({
                type: "POST",
                url: "/" + "EmployeeCalendar/Listing",
                data: { filter: newDate },
                success: function (response) {
                    // Handle the response here
                    $('body').html(response); // Render the returned HTML
                }
            });
        });

    </script>
}

<script>
    @{
        var daysInMonth = DateTime.DaysInMonth(Model.Filter.Year, Model.Filter.Month);
        var firstDayOfMonth = new DateTime(Model.Filter.Year, Model.Filter.Month, 1);
        var currentDayOfWeek = (int)firstDayOfMonth.DayOfWeek;
        if (currentDayOfWeek == 0) currentDayOfWeek = 7;
        else
        {
            currentDayOfWeek -= 1;
        } // Pazar gününü haftanın son günü olarak kabul et
    }
</script>


<style>
    .card-body {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Öğeler arasındaki boşluk */
    }

</style>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Personel Takvimi</h4>
        <hr />
        <div class="row">
            <input type="hidden" id="CurrentDate" value="@Model.Filter" />
            <div class="col-1"><button id="OneMonthBefore" class="btn btn-primary mb-4"> < </button></div>
            <div class="col-3"></div>
            <div class="col-4"><label class="d-flex justify-content-center align-items-center">@Model.Filter.ToString("MMMM") @Model.Filter.Year</label></div>
            <div class="col-3"></div>
            <div class="col-1 fr"><button id="OneMonthLater" class="btn btn-primary mb-4"> > </button></div>
        </div>
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Pazartesi</th>
                        <th>Salı</th>
                        <th>Çarşamba</th>
                        <th>Perşembe</th>
                        <th>Cuma</th>
                        <th>Cumartesi</th>
                        <th>Pazar</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int week = 1; week <= 6; week++)
                    {
                        <tr>
                            @if (week == 1)
                            {

                                @for (int i = 1; i <= currentDayOfWeek; i++)
                                {
                                    <td>
                                    </td>
                                }
                                @for (int k = currentDayOfWeek; k < 7; k++)
                                {
                                    <td>
                                        <div class="card card-dark-blue">
                                            <div class="card-body">
                                                <p class="fS20 mb-2">@firstDayOfMonth.ToString("dd MMMM yyyy dddd")</p>
                                                @if (Model.Employees[firstDayOfMonth].Count != 0)
                                                {
                                                    @foreach (var item in Model.Employees[firstDayOfMonth])
                                                    {
                                                        <div class="btn-group">
                                                            @if (item.IsMission)
                                                            {
                                                                <button type="button" class="btn btn-success" title="@item.Description (@item.DateOfStart - @item.DateOfEnd)">@item.Name<br />(Görevli)</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-info" title="@item.Description (@item.DateOfStart - @item.DateOfEnd)">@item.Name<br />(İzinli)</button>
                                                            }
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    firstDayOfMonth = firstDayOfMonth.AddDays(1);
                                }
                            }
                            else
                            {
                                @for (int weekDay = 1; weekDay <= 7; weekDay++)
                                {
                                    <td>
                                        @if (firstDayOfMonth.Month == Model.Filter.Month)
                                        {
                                            <div class="card card-dark-blue">
                                                <div class="card-body">
                                                    <p class="fS20 mb-2">@firstDayOfMonth.ToString("dd MMMM yyyy dddd")</p>
                                                    @if (Model.Employees[firstDayOfMonth].Count != 0)
                                                    {
                                                        @foreach (var item in Model.Employees[firstDayOfMonth])
                                                        {
                                                            <div class="btn-group">
                                                                @if (item.IsMission)
                                                                {
                                                                    <button type="button" class="btn btn-success" title="@item.Description (@item.DateOfStart - @item.DateOfEnd)">@item.Name<br />(Görevli)</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-info" title="@item.Description (@item.DateOfStart - @item.DateOfEnd)">@item.Name<br />(İzinli)</button>
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    firstDayOfMonth = firstDayOfMonth.AddDays(1);
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@* @Html.Partial("_SaveModal") *@