@using DA.Domain.Dtos
@using DA.Controllers
@using DA.Controllers.MissionModule
@using DA.Domain.Dtos
@using DA.Domain.Entities.OldDatas
@using DA.Domain.Enums
@using DA.Models

@model OldMissionsModel
@{
    Layout = "_Layout";
}

<script>

    $(document).ready(function () {
        var dateOfStart = '@Model.StartDate.ToString("dd.MM.yyyy")';
        var dateOfEnd = '@Model.EndDate.ToString("dd.MM.yyyy")';

        $('.drng').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            locale: {
                format: 'DD.MM.YYYY',
                separator: ' - ',
                applyLabel: 'Tamam',
                cancelLabel: 'İptal',
                fromLabel: 'Başlangıç',
                toLabel: 'Bitiş',
                customRangeLabel: 'Özel Aralık',
                weekLabel: 'Hf',
                daysOfWeek: ['Pz', 'Pzt', 'Sal', 'Çrş', 'Prş', 'Cu', 'Cmt'],
                monthNames: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                firstDay: 1
            },
            opens: 'right'
        });

        $('#DateRangeFilter').val(dateOfStart + " - " + dateOfEnd)

        $('#DateRangeFilter').on('apply.daterangepicker', function (ev, picker) {
            var dateOfStart = picker.startDate.format('YYYY-MM-DD HH:mm');
            var dateOfEnd = picker.endDate.format('YYYY-MM-DD HH:mm');

            $.ajax({
                type: "POST",
                url: "/" + "OldMissions/OldMissionsWithFilter",
                data: { startDate: dateOfStart, endDate: dateOfEnd },
                success: function (response) {
                    // Handle the response here
                    $('body').html(response); // Render the returned HTML
                }
            });
        });

    });
</script>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Eski Görev Raporları</h4>
        <hr />
        <div class="row mb-2">
            <label for="DateRangeFilter" class="col-sm-2 col-form-label pt-0 bold">Tarih Aralığı Seçiniz</label>
            <div class="col-lg-10 col-md-10 col-sm-7">
                <input type="text" id="DateRangeFilter" name="date-range" class="drng form-control" style="width: 100%;" />
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table dataTable table-striped table-hover">
                <thead>
                    <tr>
                        <th>Görüş Id</th>
                        <th>Personel Id</th>
                        <th>Tür Id</th>
                        <th>Yer</th>
                        <th>Konu</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Dönüş Tarihi</th>
                        <th>Gidiş Araç Id</th>
                        <th>Dönüş Araç Id</th>
                        <th>Vekil Id</th>
                        <th>Görev Not</th>
                        <th>Avans</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OldMissions item in Model.Missions)
                    {
                        <tr id="@item.Id.ToString()">
                            <td>@item.Gor_Id</td>
                            <td>@item.Personel_ID</td>
                            <td>@item.Tur_ID</td>
                            <td>@item.Yer</td>
                            <td>@item.Konu</td>
                            <td>@item.B_Tarih?.ToString("dd/MM/yyyy")</td> <!-- Date formatted -->
                            <td>@item.G_Tarih?.ToString("dd/MM/yyyy")</td>
                            <td>@item.G_Arac</td>
                            <td>@item.D_Arac</td>
                            <td>@item.VekID</td>
                            <td>@item.GorNot</td>
                            <td>@item.Avans</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
