@using DA.Controllers.Authority
@using DA.Domain.Dtos
@using DA.Domain.Enums
@using DA.Models

@model DetailedEmployeeModel
@{
    Layout = "_Layout";
}

@section scripts {
    <script>
        hidePreloader();
    </script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Employee.Name @Model.Employee.Surname Detaylı Bilgileri</h4>
        <hr />
        <div class="table-responsive">
            <div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">T.C. Kimlik No:</div>
                    <div class="col-sm-8" id="sIdentificationNumber">@Model.Employee.IdentificationNumber</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Telefon Numarası:</div>
                    <div class="col-sm-8" id="sPhoneNumber">@Model.Employee.PhoneNumber</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Adı:</div>
                    <div class="col-sm-8" id="sName">@Model.Employee.Name</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Soyadı:</div>
                    <div class="col-sm-8" id="sSurname">@Model.Employee.Surname</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Ünvanı:</div>
                    <div class="col-sm-8" id="sApellation">@Model.Employee.Apellation</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Anne Adı:</div>
                    <div class="col-sm-8" id="sMotherName">@Model.Employee.MotherName</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Baba Adı:</div>
                    <div class="col-sm-8" id="sFatherName">@Model.Employee.FatherName</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Doğum Yeri:</div>
                    <div class="col-sm-8" id="sPlaceOfBirth">@Model.Employee.PlaceOfBirth</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Doğum Tarihi:</div>
                    <div class="col-sm-8" id="sDateOfBirth">@Model.Employee.DateOfBirth.ToString("dd MMMM yyyy")</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Kan Grubu:</div>
                    <div class="col-sm-8" id="sBloodGroup">@StrBloodGroup.StrEnumBloodGroup((EnumBloodGroup)Model.Employee.BloodGroup)</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Cinsiyet:</div>
                    <div class="col-sm-8" id="sGender">@Model.Employee.Gender</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">E-posta:</div>
                    <div class="col-sm-8" id="sEmail">@Model.Employee.Email</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Yetkilendirme Durumu:</div>
                    <div class="col-sm-8" id="sAuthorizationStatus">@Model.Employee.AuthorizationStatus</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Toplam Yıllık İzin Günü:</div>
                    <div class="col-sm-8" id="sTotalYearlyLeave">@Model.Employee.TotalYearlyLeave</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Toplam Ücretsiz İzin Günü:</div>
                    <div class="col-sm-8" id="sTotalUnpaidLeave">@Model.Employee.TotalUnpaidLeave</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Toplam Mazaretli İzin Günü:</div>
                    <div class="col-sm-8" id="sTotalExcusedLeave">@Model.Employee.TotalExcusedLeave</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Toplam Denkleştirme İzin Günü:</div>
                    <div class="col-sm-8" id="sTotalEqualizationLeave">@Model.Employee.TotalEqualizationLeave</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">İşe Başlama Tarihi:</div>
                    <div class="col-sm-8" id="sDateOfStart">@Model.Employee.DateOfStart</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">İşten Çıkarılma Tarihi:</div>
                    <div class="col-sm-8" id="sExitedDate">@Model.Employee.ExitedDate</div>
                </div>
            </div>
            <hr />
            <div>
                <h4 class="card-title">@Model.Employee.Name @Model.Employee.Surname Akademik Bilgileri</h4>
                <table class="table dataTable table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Üniversite</th>
                            <th>Fakülte</th>
                            <th>Bölüm</th>
                            <th>Tür</th>
                            <th>Tez Konusu</th>
                            <th>Başlama - Bitiş</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AcademyInfo.Count != 0)
                        {
                            @foreach (AcademyInfoDto item in Model.AcademyInfo)
                            {
                                <tr id="@item.Id.ToString()">
                                    <td>@item.University</td>
                                    <td>@item.Faculty</td>
                                    <td>@item.Department</td>
                                    <td>@(AcademyInfoController.StrAcademyType(item.AcademyType))</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.ThesisTopic))
                                        {
                                            <span>@item.ThesisTopic</span>
                                        }
                                        else
                                        {
                                            <span>Tez Yok</span>
                                        }

                                    </td>
                                    <td>@item.StartDate - @item.EndDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <div>
                <h4 class="card-title">@Model.Employee.Name @Model.Employee.Surname Adres Bilgileri</h4>
                <table class="table dataTable table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Adres Başlığı</th>
                            <th>Adres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Address.Count != 0)
                        {
                            @foreach (AddressDto item in Model.Address)
                            {
                                <tr id="@item.Id.ToString()">
                                    <td>@item.AddressTitle</td>
                                    <td>@item.FullAddress</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <div>
                <h4 class="card-title">@Model.Employee.Name @Model.Employee.Surname GSM Bilgileri</h4>
                <table class="table dataTable table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Telefon Numarası</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.GSMNumber.Count != 0)
                        {
                            @foreach (GSMNumberDto item in Model.GSMNumber)
                            {
                                <tr id="@item.Id.ToString()">
                                    <td>@item.GSM</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <div>
                <h4 class="card-title">@Model.Employee.Name @Model.Employee.Surname Mail Bilgileri</h4>
                <table class="table dataTable table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Mail Adresi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Emails.Count != 0)
                        {
                            @foreach (EMailDto item in Model.Emails)
                            {
                                <tr id="@item.Id.ToString()">
                                    <td>@item.EMailAddress</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <hr />
        </div>
    </div>
</div>